<script>
  // Set the variable using the window object
  window.this_tour = '<%= tour %>';
</script>
<section class="section-header">
      <div class="header__hero">
        <div class="header__hero-overlay">&nbsp;</div>
          <img class="header__hero-img" src="/img/tour/<%= tour.imageCover %>" alt="<%= tour.name %>">
      </div>
      <div class="heading-box">
        <h1 class="heading-primary">
          <span><%= tour.name %></span >
        </h1>
        <div class="heading-box__group">
          <div class="heading-box__detail">
            <svg class="heading-box__icon">
              <use xlink:href="/img/icons.svg#icon-clock"></use>
            </svg>
            <span class="heading-box__text"><%= `${tour.duration} days` %></span>
          </div>
          <div class="heading-box__detail">
            <svg class="heading-box__icon">
              <use xlink:href="/img/icons.svg#icon-map-pin"></use>
            </svg>
            <span class="heading-box__text"><%= tour.startLocation.description %></span>
          </div>
        </div>
      </div>
    </section>

    <section class="section-description">
      <div class="overview-box">
        <div>
          <div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-calendar"></use>
              </svg>
              <span class="overview-box__label">Next date</span>
              <span class="overview-box__text"><%= tour.startDates[0].toLocaleString('en-us',{month:'long',year:'numeric'}) %></span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-trending-up"></use>
              </svg>
              <span class="overview-box__label">Difficulty</span>
              <span class="overview-box__text"><%= tour.difficulty %></span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-user"></use>
              </svg>
              <span class="overview-box__label">Participants</span>
              <span class="overview-box__text"><%= `${tour.maxGroupSize} people` %></span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-star"></use>
              </svg>
              <span class="overview-box__label">Rating</span>
              <span class="overview-box__text">4.9 / 5</span>
            </div>
          </div>

          <div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Your tour guides</h2>
            <% tour.guides.forEach(guide => { %>
            <div class="overview-box__detail">
              <img
                src="/img/users/<%= guide.photo %>"
                alt="<%= guide.name %>"
                class="overview-box__img"
              />
              <% if (guide.role === 'lead-guide') { %>
                <span class="overview-box__label">LEAD GUIDE</span>
              <% } else { %>
                <span class="overview-box__label">TOUR GUIDE</span>
              <% } %>
              <span class="overview-box__text"><%= guide.name %></span>
            </div>
          <% }) %>
          </div>
        </div>
      </div>

      <div class="description-box">
        <h2 class="heading-secondary ma-bt-lg">About <%= tour.name %> tour</h2>
        <% const p = tour.description.split('\n') %>
        <% p.forEach(para=>{  %>
          <p class="description__text">
            <%= para %>
          </p>
        <% }) %>
      </div>
    </section>

    <section class="section-pictures">
      <% let i=1 %>
      <% tour.images.forEach(img=>{  %>
        <div class="picture-box">
        <img
          class="picture-box__img" 
          src="/img/tour/<%= img%>"
          alt=`The Park Camper Tour ${i}`
          class=`picture-box__img--${i}`
          <% i+=1 %>
        />
      </div>
      <% }) %>
    </section>

    <section class="section-map">
      <div id='map' data-locations="<%= JSON.stringify(tour.locations) %>"></div>
    </section>

    <section class="section-reviews">
      <div class="reviews">
        <% tour.reviews.forEach(review=>{ %>
          <div class="reviews__card">
            <div class="reviews__avatar">
              <img
                src="/img/users/<%= review.user.photo %>"
                alt="<%= review.user.name %>"
                class="reviews__avatar-img"
              />
              <h6 class="reviews__user"><%= review.user.name %></h6>
            </div>
            <p class="reviews__text">
              <%= review.review %>
            </p>
            <div class="reviews__rating">
              <% for (let star = 1; star <= 5; star++) { %>
                <svg class="reviews__star <%= review.rating >= star ? 'reviews__star--active' : 'reviews__star--inactive' %>">
                  <use xlink:href="/img/icons.svg#icon-star"></use>
                </svg>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
    </section>

    <section class="section-cta">
      <div class="cta">
        <div class="cta__img cta__img--logo">
          <img src="/img/logo-white.png" alt="Natours logo" class="" />
        </div>
        <img src="/img/tour/<%= tour.images[1] %>" alt="" class="cta__img cta__img--1" />
        <img src="/img/tour/<%= tour.images[2] %>" alt="" class="cta__img cta__img--2" />

        <div class="cta__content">
          <h2 class="heading-secondary">What are you waiting for?</h2>
          <p class="cta__text">
            <%= tour.duration %> days. 1 adventure. Infinite memories. Make it yours today!
          </p>
          <button class="btn btn--green span-all-rows" id="book-tour-button">Book tour now!</button>
        </div>
      </div>
    </section>

