<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/_head',{title:"Login"}) %>
  <body>
    <!--HEADER-->
    <%- include('./partials/_header') %>

    <!--CONTENT-->
    <!-- <section class="overview"> --> 
    <%- include('./partials/_loginTemplate') %>

    <!--Footer-->
    <%- include('./partials/_footer') %>
  </body>
  <%- include('./partials/_jsElements') %>
</html>